<%- include('search.ejs') %>
    <table class="table table-dark table-striped text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">USERNAME</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">POWER</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <% let num=0; %>
                <% users.forEach(user=> { %>
                    <% num++; %>
                        <tr>
                            <td>
                                <%= num %>
                            </td>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.firstname %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.admin %>
                            </td>
                        </tr>
                        <% }); %>
        </tbody>
        </tbody>
    </table>