<%-include('partials/header.ejs')%>
    <div class="row">
        <div class="col">
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-light fw-bold mt-2 float-end">Logout</button>
            </form>
        </div>
    </div>
    </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3 class="text-center text-secondary mt-4">ADMIN PRIVILEGES</h3>
            </div>
            <div class="col-md-10">
                <h3 class="text-center text-secondary mt-4">STUDENT-LOGIN DETAILS</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mt-4 text-center">
                <button class="btn btn-outline-dark fw-bold text-light w-100 p-3" id="btn_create"
                    type="button">CREATE</button>
                <button class="btn btn-outline-dark fw-bold text-light w-100 p-3" id="btn_update_delete"
                    type="button">UPDATE</button>
                <button class="btn btn-outline-dark fw-bold text-light w-100 p-3" id="btn_admin_home"
                    type="button">HOME</button>
            </div>
            <div class="col-md-10">
                <br>
                <!-- Default Table section -->
                <div id="defaultTableSection"">
                    <%- include('partials/table.ejs') %>
                </div>

                <!-- Create section -->
                <div id="createSection" style="display: none;">
                    <%- include('partials/create.ejs') %>
                </div>
                
                <!-- Update & Delete section -->
                <div id="updateDeleteSection" style="display: none;">
                    <%- include('partials/update&delete.ejs') %>
                </div>
            </div>
        </div>
    </div>  
    <%-include('partials/footer.ejs')%>